body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    font-family: 'Inter', sans-serif;
    background-color: #ffffff;

    position: relative;
    display: flex; 
}

:root {
    --regular: 400;
    --bold: 700;
    --black: 900;

    --pink: #FF206E;
    --lightGrey: #F1EDEE;
    --darkGrey: #686963;
}

.menuLarge {
    display: flex;
    width: 100vw;
    height: 42px;
    margin-top: 24px;
    align-items: center;
    justify-content: center;
}

.menuLarge > div > button {
    height: 42px;
    width: 272px;
    color: var(--pink);
    text-align: center;
    background-color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: var(--bold);
}

.menuPopup {
    padding: 24px;
    width: 272px;
    height: auto;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    box-shadow: 0px 1px 24px rgba(104, 105, 99, 0.24);
    border-radius:6px 12px;
}

.calcMode {
    /* display: flex;
    flex-direction: column;
    gap: 18px; */
}

.radioContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224px;
    height: 54px;
    border-radius: 24px;
    background-color: var(--lightGrey);
    color: var(--darkGrey);
    padding: 0px 24px;

    font-size: 18px;
}

.submitMenuBtn {
    font-size: 18px;
    font-weight: var(--bold);
    color: var(--pink);
    text-align: center;
    background-color: #fff;
    border: none;
    height: 42px;
}

input[type="checkbox"] {
    height: 36px;
    width: 36px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 12px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow:inset 24px 24px var(--pink);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}



.inputFields {
    align-self: center;
    justify-self: center;;
    width: 272px;
    height: 198px;
    display: flex;
    flex-direction: column;
    gap: 18px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.inputFields > input {
    width: 224px;
    height: 54px;
    border: none;
    border-radius: 24px;
    font-size: 18px;
    color: var(--darkGrey);
    background-color: var(--lightGrey);
    padding: 0px 24px;
    outline: none;
    transition: 120ms transform ease-in-out;

    
}

.inputFields > input:focus {
    -webkit-appearance: none;
    appearance: none;

    border: 2px solid var(--darkGrey);
    /* outline-offset: -2px; */
}

.buttonsMain {
    display: flex;
    justify-content: space-between;
}

.buttonsMain > button {
    width: 130px;
    height: 54px;
    font-size: 18px;
    font-weight: var(--bold);
    color: #ffffff;
    background-color: var(--pink);
    text-align: center;
    border: none;
    border-radius: 24px;
}

.exportFile {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    margin-top: -48px;
    font-size: 18px;
    font-weight: var(--bold);
    color: #ffffff;
    background-color: var(--pink);
    text-align: center;
    border: none;
    border-radius: 24px;
    width: 272px;
    height: 54px;
}

























































.hidden {
    display: none;
}